
  {{#each this}}
  <div class="country-data">
    <h1 class="country-title">{{name}}</h1>
    <p class="country-text"><b>Capital: {{capital}}</b></p>
    <p class="country-text"><b>Population: {{population}}</b></p>
    <p class="country-text"><b>Languages:</b></p>
    <ul class="list-group"></ul>
    {{#each languages}}
      <li class="list-group-item">{{this.name}}</li>
    {{/each}}
    </ul>
  </div>

 <div class="country-flag-img">
    <img src="{{flag}}" alt="Flag of {{name}}" width="300" height="250">
  </div>
 {{/each}}

